
services:
  redis:
    container_name: redis
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 20s
      retries: 5
      start_period: 30s

  backend:
    container_name: backend
    build: 
      context: ./server
      dockerfile: Dockerfile
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "4000:4000" #host:conteiner
    env_file: 
      - server/.env 
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    container_name: 'database'
    image: postgres:16
    ports:
    - "5432:5432"
    restart: unless-stopped
    env_file:
      - server/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h 127.0.0.1 -p 5432"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    volumes:
      - postgres-data:/var/lib/postgresql/data
    
  frontend:
    container_name: 'frontend'
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - client/.env
    depends_on:
      - backend

volumes:
  postgres-data:
